@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At Matrix Inc, we respect your privacy. We only collect personal data that's necessary to provide and improve our services — such as your name, email address, and usage data. Your information is kept secure and never sold to third parties.

    We use cookies to enhance your experience and analyze site traffic. By using our site, you agree to our use of cookies.
</p>
