@model DataAccessLayer.Models.Order

@{
    ViewData["Title"] = "Bewerk order";
}

<div class="form">
    <p class="headerform">Bewerk een order aan</p>
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-row">
            <div class="input-col">
                <div class="input-container2">
                    <label class="naam1" for="OrderDate">Orderdatum:</label>
                    <input asp-for="OrderDate" class="input" id="OrderDate" type="date" placeholder="Voer de orderdatum in" />
                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                </div>
                <div class="input-container2">
                    <label class="land1" for="CustomerId">Klant:</label>
                    <select asp-for="CustomerId" asp-items="ViewBag.CustomerId" class="input" id="CustomerId"></select>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
                <div class="input-container2">
                    <label class="plaats1" for="Status">Status:</label>
                    <select asp-for="Status" asp-items="ViewBag.Status" class="input" id="Status"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="input-col">
                <div class="input-container2">
                    <label class="straatnaam1" for="selectedProductIds">Producten:</label>
                    <select name="selectedProductIds" asp-items="ViewBag.Products" class="input" id="selectedProductIds" multiple size="5"></select>
                </div>
                <div class="input-container2">
                    <label class="postcode1" for="PaidAt">Betaald op:</label>
                    <input asp-for="PaidAt" class="input" id="PaidAt" type="date" placeholder="Betaaldatum" />
                    <span asp-validation-for="PaidAt" class="text-danger"></span>
                </div>
                <div class="input-container2">
                    <label class="huisnummer1" for="ShippedAt">Verzonden op:</label>
                    <input asp-for="ShippedAt" class="input" id="ShippedAt" type="date" placeholder="Verzenddatum" />
                    <span asp-validation-for="ShippedAt" class="text-danger"></span>
                </div>
                <div class="input-container2">
                    <label class="huisnummer1" for="DeliveredAt">Geleverd op:</label>
                    <input asp-for="DeliveredAt" class="input" id="DeliveredAt" type="date" placeholder="Leverdatum" />
                    <span asp-validation-for="DeliveredAt" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group button-row" style="margin-top: 10px; margin-left: 260px;">
            <a asp-action="Index" class="annuleer">Annuleer</a>
            <input type="submit" value="Bewerk" class="aanmaken" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
