@model DataAccessLayer.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<div class="form">
    <p class="headerform">Maak een klant aan</p>
    <p class="naam">Vul voor -en achternaam in:</p>
    <p class="straatnaam">Vul straatnaam in:</p>
    <p class="plaats">Vul plaatsnaam in:</p>
    <p class="land">Vul land in:</p>
    <p class="postcode">Vul postcode in:</p>
    <p class="huisnummer">Vul huisnummer in:</p>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-row">
            <div class="input-col">
                <div class="input-container">
                    <input asp-for="Name" class="input" placeholder="Bas van Dijk" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="input-container">
                    <input asp-for="StreetName" class="input" placeholder="Kasteellaan" />
                    <span asp-validation-for="StreetName" class="text-danger"></span>
                </div>
                <div class="input-container">
                    <input asp-for="CityName" class="input" placeholder="Amsterdam" />
                    <span asp-validation-for="CityName" class="text-danger"></span>
                </div>
            </div>
            <div class="input-col right">
                <div class="input-container">
                    <input asp-for="Country" class="input" placeholder="Nederland" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="input-container">
                    <input asp-for="PostalCode" class="input" placeholder="3948TT" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="input-container">
                    <input asp-for="HouseNumber" class="input" placeholder="19/19A" />
                    <span asp-validation-for="HouseNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group button-row" style="margin-top: 10px; margin-left: 260px;">
            <a class="annuleer" asp-action="Index">Annuleer</a>
            <input type="submit" value="Toevoegen" class="aanmaken" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
