@model DataAccessLayer.Models.Customer

@{
    ViewData["Title"] = "Bewerk klant";
}

<div class="form">
    <p class="headerform">Bewerk een klant</p>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-row">
            <div class="input-col">
                <div class="input-container">
                    <label class="naam" for="Name">Vul voor- en achternaam in:</label>
                    <input asp-for="Name" class="input" id="Name" placeholder="Bas van Dijk" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="input-container">
                    <label class="straatnaam" for="StreetName">Vul straatnaam in:</label>
                    <input asp-for="StreetName" class="input" id="StreetName" placeholder="Kasteellaan" />
                    <span asp-validation-for="StreetName" class="text-danger"></span>
                </div>
                <div class="input-container">
                    <label class="plaats" for="CityName">Vul plaatsnaam in:</label>
                    <input asp-for="CityName" class="input" id="CityName" placeholder="Amsterdam" />
                    <span asp-validation-for="CityName" class="text-danger"></span>
                </div>
            </div>
            <div class="input-col">
                <div class="input-container">
                    <label class="land" for="Country">Vul land in:</label>
                    <input asp-for="Country" class="input" id="Country" placeholder="Nederland" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="input-container">
                    <label class="postcode" for="PostalCode">Vul postcode in:</label>
                    <input asp-for="PostalCode" class="input" id="PostalCode" placeholder="3948TT" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="input-container">
                    <label class="huisnummer" for="HouseNumber">Vul huisnummer in:</label>
                    <input asp-for="HouseNumber" class="input" id="HouseNumber" placeholder="19/19A" />
                    <span asp-validation-for="HouseNumber" class="text-danger"></span>
                </div>
                <div class="input-container">
                    <label for="Active">Actief:</label>
                    <label class="switch">
                        <input asp-for="Active" type="checkbox" id="Active" />
                        <span class="slider"></span>
                    </label>
                    <span asp-validation-for="Active" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group button-row" style="margin-top: 10px; margin-left: 260px;">
            <a class="annuleer" asp-action="Index">Annuleer</a>
            <input type="submit" value="Bewerk" class="aanmaken" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
